/* @import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap"); */
.App {
  height: 100dvh;
  width: 100%;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "dynaPuff" !important;
}

* {
  font-family: "Anybody" !important;
}
